body
{
	margin: 0;
	padding: 0;
	border: 0;
}
table, tr, td, div, img
{
	margin: 0;
	padding: 0;
	border: 0;
}
a
{
	color: #3D507B;
	text-decoration: none;
}
a:visited
{
	color: #335CA7;
	text-decoration: none;
}
a:hover
{
	color: #093B67;
	text-decoration: none;
}
#logo
{
	height: 21px;
	width: 118px;
}
#topMenu
{
	background-repeat: repeat-x;
	background-image: url(/images/head_topbg.gif);
	background-position: center top;
	height: 72px;
	width: 100%;
	margin: 0;
	padding: 0;
}
#menuitem0_left
{
	width: 9px;
	height: 39px;
	background-position: left top;
	background-image: url(/Images/menuitem0_left.gif);
	background-repeat: no-repeat;
}
.menu
{
	vertical-align: top;
	padding-top: 4px;
	height: 35px;
	padding-left: 30px;
	font-size: 12px;
	table-layout: fixed;
	padding-bottom: 0;
	margin-bottom: 0;
}
#menuitem0_right
{
	width: 9px;
	height: 39px;
	background-position: right top;
	background-image: url(/Images/menuitem0_right.gif);
	background-repeat: no-repeat;
}
.menu_leftimg
{
	margin-right: 8px;
}
.menuitem0_default
{
	background-position: right 50%;
	color: #E5F6FC;
	padding-top: 0px;
	padding-right: 10px;
	padding-left: 0px;
	background-image: url(/Images/menuitem0_default_bk_right.gif);
	background-repeat: no-repeat;
	cursor: hand;
	height: 34px;
}
.menuitem0_selected
{
	background-position: right 50%;
	padding-left: 0px;
	color: #000000;
	padding-top: 0px;
	padding-right: 10px;
	background-image: url(/Images/menuitem0_selected_bk_right.gif);
	background-repeat: no-repeat;
	height: 34px;
}
.menuitem0_hover
{
	background-position: right 50%;
	padding-left: 0px;
	color: #ffffff;
	padding-top: 0px;
	padding-right: 10px;
	background-image: url(/Images/menuitem0_hover_bk_right.gif);
	background-repeat: no-repeat;
	height: 34px;
	cursor: hand;
}
#menuitem1_left
{
	background-position: left top;
	background-image: url(/Images/menuitem1_left.gif);
	background-repeat: no-repeat;
	height: 34px;
	width: 9px;
}
#menuitem1_middle
{
	border: 0;
	padding: 0;
	margin: 0;
	background-position: center top;
	background-image: url(/Images/head_top2bg.gif);
	background-repeat: repeat-x;
	height: 34px;
}
#menuitem1_right
{
	background-position: right top;
	background-image: url(/Images/menuitem1_right.gif);
	background-repeat: no-repeat;
	width: 9px;
	height: 34px;
}

.pageMenu
{
	float: left;
	font-size: 12px;
	height: 34px;
	margin-left: 9px;
	margin-top: -32px;
	display: none;
}
.menu2
{
	height: 32px;
	font-size: 12px;
	padding: 0px;
	padding: 2px 10px 0px 10px;
}
.menu2_tiao
{
	padding-left: 4px;
	padding-right: 4px;
}
.menuitem1_default
{
	padding-right: 8px;
	padding-left: 0px;
	color: #336699;
	padding-top: 0px;
	cursor: hand;
}
.menuitem1_hover
{
	background-position: right;
	padding-right: 8px;
	padding-left: 0px;
	color: #000000;
	padding-top: 0px;
	cursor: hand;
}
.menuitem1_selected
{
	background-position: right;
	padding-right: 8px;
	padding-left: 0px;
	color: #000000;
	padding-top: 0px;
}
.toolbar
{
	float: right;
	font-size: 12px;
	height: 27px;
	margin-right: 9px;
	margin-top: -32px;
	display: none;
}
.toolbar_img
{
	padding-left: 3px;
	padding-right: 8px;
}
.menuitem2_left
{
	width: 19px;
	height: 27px;
	vertical-align: middle;
	background-position: left center;
	background-image: url(/Images/tb_left.gif);
	background-repeat: no-repeat;
}
.menuitem2_midden
{
	height: 27px;
	background-position: center center;
	background-image: url(/Images/tb_middle.gif);
	background-repeat: repeat-x;
}
.menuitem2_right
{
	background-position: right center;
	background-image: url(/Images/tb_right.gif);
	background-repeat: no-repeat;
	height: 27px;
	width: 6px;
}
.menuitem2_default
{
	padding-right: 6px;
	padding-left: 0px;
	color: #000000;
	cursor: hand;
	height: 22px;
}
.menuitem2_hover
{
	background-position: right;
	padding-right: 6px;
	padding-left: 0px;
	color: #FF3300;
	padding-top: 0px;
	cursor: hand;
	height: 22px;
}
/* top */
#toplinebg
{
	width: 100%;
	height: 58px;
}

#headline_left
{
	width: 16px;
	height: 58px;
	background-image: url(/images/head_topline_left.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#headline
{
	background-image: url(/images/head_topline.gif);
	background-repeat: repeat-x;
	background-position: center top;
}
#headline_right
{
	width: 18px;
	height: 58px;
	background-image: url(/images/head_topline_right.gif);
	background-repeat: no-repeat;
	background-position: right top;
}

#companymanecn
{
	margin-top: 14px;
	margin-left: 10px;
	font-size: 14px;
	font-weight: bolder;
	color: #ffffff;
}

#companymaneen
{
	margin-top: 3px;
	margin-left: 10px;
	font-size: 12px;
}

#headline a:link
{
	color: #ffffff;
	text-decoration: none;
}

#headline a:visited
{
	color: #ffffff;
	text-decoration: none;
}
#headline a:hover
{
	color: #FFE5A8;
	text-decoration: none;
}

/* time */
#shezhi
{
	float: right;
	font-size: 12px;
	margin-top: -25px;
	margin-right: 0px;
	color: #CBF4FF;
}
#user
{
	float: right;
	font-size: 12px;
	margin-top: -25px;
	margin-right: 5px;
	color: #FFFFFF;
}
.theme
{
	float: right;
	font-size: 12px;
	margin-top: -25px;
	margin-right: 15px;
	color: #FFFFFF;
}
